.detail-cont {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 2rem;
  background-color: #242424;
  height: 100vh;
}
.text-red {
  color: red;
}
.detail-driver {
  padding: 1.5rem;
  color: #cdcdcd;
}
.detail-cont-img {
  border: 0.4rem solid red;
}
.detail-img {
  width: 70vw;
}

@media (min-width: 775px) {
  .detail-driver {
    padding: 1.5rem;
    width: 35vw;
    color: #cdcdcd;
  }
  .detail-cont {
    flex-direction: row;
    align-items: normal;
    padding-top: 3.5rem;
    justify-content: center;
  }
  .detail-img {
    object-fit: cover;
    height: 35rem;
    width: auto;
  }
  .text-description {
    height: 23rem;
    overflow: scroll;
  }
}
/* .detail-img{
    height: 50vh;
    width: auto;
    padding-left: 50px;
    padding-top: 50px;
}

.detail-cont{
    color: rgb(39, 35, 35);
    display: flex;
    margin: 80px 200px;
    padding: 50px 50px;
    background-image: url("https://image.slidesdocs.com/responsive-images/background/business-card-information-minimalistic-abstract-geometric-powerpoint-background_bab7b86ec3__960_540.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.detail-driver{
    width: 50vw;
    padding-top: 50px;
    padding-left: 20px;
} */
