@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #171717;
    color: white;
    min-width: 284px;
}
*{
    box-sizing: border-box;
}

.landing{
    background-image: url("./img/portada.png");
}