.card-img {
  object-fit: cover;
  width: 18vw;
  height: 30vw;
}

.card-cont {
  background-color: #f4f0e5;
  color: #430301;
  font-size: 1vw;
  border-radius: 4vw;
  box-shadow: 0.25rem 0.3125rem 1.125rem red;
  text-align: center;
  padding: 1rem;
}
.card-cont a {
  text-decoration: none;
}
@media (max-width: 775px) {
  .card-cont {
    font-size: 3vw;
    width: 60vw;
    height: auto;
  }
  .card-img {
    width: -webkit-fill-available;
    height: auto;
  }
}
/* 
.card-button {
  text-decoration: none;
  color: #430301;
} 
*/

/* .card-cont{
    background-color: #f4f0e5;
    color: #430301;
    border-radius: 35px;
    box-shadow: 4px 5px 18px red;
    text-align: center;
}

.card-img{
    object-fit: cover;
    width: 280px;
    height: 430px;    
}
.card-button{
    text-decoration: none;
    color: #430301;
    

}
 */
