.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  color: white;
}

.prevandnext {
  width: 3rem;
  box-shadow: 1px 1px 13px 2px #1aaec5;
}
.prevandnext:hover {
  border: 0.2rem solid black;
}
.select {
  height: 1.6rem;
}

.refresh {
  width: 5rem;
}

.refresh:hover {
  border: 0.2rem solid black;
}

.page-number {
  text-align: center;
}
.filters-f {
  display: inline;
}

@media (max-width: 775px) {
  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .filters-f {
    display: flex;
    flex-direction: column;
  }
}